{% extends "layout.html" %}
{% block title %}
<title>Booking</title>
{% endblock %}
{% block body %}
<section id='booking-section'>
    <h1 class="heading-title">Book a ticket</h1>
    <div id='main-section'>
        <div id="movie-desc">
          <img src={{img}} style="width:300px; height: 400px;" id='img-poster'>
          <div id="movie-desc-inner">
            <h2>{{movie[1]}}</h2>
            <p id='description'>{{movie[6]}} </p>
            <p> <i class="lab la-imdb la-5x" style="color: #DBA506;"> 
              <span style="color: white; font-size: 0.7em;"> {{movie[3]}} /5 </span> </i> 
            </p> 
            <p id='movie-time'> <span style="border-right: solid white 1px;
            padding-right: 5px; margin-right: 5px;"> {{movie[5]}} mins </span>
            {{movie[2]}}</p>

          </div>
        </div>
        
        <form action="#">
        <div class="hr"> </div>
        <div id='date'>
           <div class="day" onclick=selected(this)> 
               <p class="day-text"> SEP </p>
               <h1 class="day-number"> 23 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text"> SEP </p>
               <h1 class="day-number"> 24 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text"> SEP </p>
               <h1 class="day-number"> 25 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" > SEP </p>
               <h1 class="day-number"> 26 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" > SEP </p>
               <h1 class="day-number"> 27 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" > SEP </p>
               <h1 class="day-number"> 28 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" > SEP </p>
               <h1 class="day-number"> 29 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this) > 
               <p class="day-text" > SEP </p>
               <h1 class="day-number"> 30 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" > NOV </p>
               <h1 class="day-number"> 1 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" > NOV </p>
               <h1 class="day-number"> 2 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" > NOV </p>
               <h1 class="day-number"> 3 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text"> NOV </p>
               <h1 class="day-number"> 4 </h1>
               <p class="day-text"> SAT </p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" > NOV </p>
               <h1 class="day-number"> 5 </h1>
               <p class="day-text"> SAT </p>
            </div> 
        </div>
        <div class="hr"> </div>
        <div id="ticket">
            <select name="ticket-type" id='ticket-type' placeholder='Seat type'>
              <option value="" disabled selected>Seat Type </option>
              <option value="premium">Premium(₹300)</option>
              <option value="gold">Gold(₹200)</option>
              <option value="regular">Regular(₹100)</option>
            </select>
          
          <div id="people">
            <h2 id='many'> How many?</h2>
              <div id="svg-icons">
                    <img src='static/resources/jeep.svg' style="width: 150px;" id='change_img'> </img>
                    <br>
                      
  <label for="quantity">Select tickets: </label>
  <input type="number" id="quantity" name="quantity" min="1" max="5">
                </div>
          </div>
          <div id='payment-btn'>
            <button type="submit" id='pay' > Pay Now </button>
          </div>
        </div>
    </form>
      
    </div>
</section>
<script>
    var divItems = document.getElementsByClassName("day");
    var btnChanges= document.getElementsByClassName('btn-change');

    function selected(item) {
        this.clear();
        item.style.backgroundColor = 'yellow';
    }
    
    function clear() {
        for(var i=0; i < divItems.length; i++) {
            var item = divItems[i];
            item.style.backgroundColor = 'var(--main--violet_200)';
        }
    }

    function selected_btn(item) {
        this.clear_btn();
        item.style.backgroundColor = 'var(--main--violet_100)';
    }

    function clear_btn() {
        for(var i=0; i < btnChanges.length; i++) {
            var item = btnChanges[i];
            item.style.backgroundColor = 'var(--main--violet_200)';
        }
    }

    </script>

    <!-- Bootstrap script -->
    <script src="../static/js/bootstrap.bundle.js"> </script>

{% endblock %}