{% extends "layout.html" %}
{% block title %}
<title>Booking</title>
{% endblock %}
{% block body %}
<section id='booking-section'>
    <h1 class="heading-title">Book a ticket</h1>
    <div id='main-section'>
        <div id="movie-desc">
          <img src="static/resources/br_rect.jpg" style="width:300px; height: 400px;" id='img-poster'>
          <div id="movie-desc-inner">
            <h2>Bohemian Rhapsody</h2>
            <p id='description'> Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Doloremque est dolore nam laboriosam distinctio,
            non laborum, iusto praesentium, commodi deleniti optio explicabo at
            facilis unde quos ea vel animi obcaecati. </p>
            <p> <i class="lab la-imdb la-5x" style="color: #DBA506;"> 
              <span style="color: white; font-size: 0.7em;"> 7.2 </span> </i> 
            </p> 
            <p id='movie-time'> <span style="border-right: solid white 1px;
            padding-right: 5px; margin-right: 5px;">  120 mins </span>
            Biogrpahical </p>

          </div>
        </div>
        <div class="hr"> </div>
        <div id='date'>
           <div class="day" onclick=selected(this)> 
               <p class="day-text">SEP</p>
               <h1 class="day-number">23</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text"> SEP</p>
               <h1 class="day-number">24</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text">SEP</p>
               <h1 class="day-number">25</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" >SEP</p>
               <h1 class="day-number">26</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" >SEP</p>
               <h1 class="day-number">27</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" >SEP</p>
               <h1 class="day-number">28</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" >SEP</p>
               <h1 class="day-number">29</h1>
               <p class="day-text"> SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" >SEP</p>
               <h1 class="day-number">30</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" >NOV</p>
               <h1 class="day-number">1</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" >NOV</p>
               <h1 class="day-number">2</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" >NOV</p>
               <h1 class="day-number">3</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text">NOV</p>
               <h1 class="day-number">4</h1>
               <p class="day-text">SAT</p>
            </div>
           <div class="day" onclick=selected(this)> 
               <p class="day-text" >NOV</p>
               <h1 class="day-number">5</h1>
               <p class="day-text">SAT</p>
            </div> 
        </div>
        <div class="hr"> </div>
        <div id="ticket">
          <form action="#">
            <select name="ticket-type" id='ticket-type' placeholder='Seat type' onchange="changeFunc(value)">
              <option value="" disabled selected>Seat Type </option>
              <option value="premium">Premium(₹300)</option>
              <option value="gold">Gold(₹200)</option>
              <option value="regular">Regular(₹100)</option>
            </select>
          </form>
          <div id='tickets-left'>
            <h4 id='tickets-left-text'>Seats left : <span id='seats'> </span></h4>
          </div>
          <div id="people">
            <h2 id='many'> How many?</h2>
              <div id="svg-icons">
                    <img src='static/resources/bicycle.svg' style="width: 150px;" id='change_img'> </img>
                    <br>
                      <button onclick="document.getElementById('change_img').src='../static/resources/bicycle.svg'; selected_btn(this)"  id="change1" class="btn-change" type="button"> 1 </button>
                      <button onclick="document.getElementById('change_img').src='../static/resources/bike.svg';selected_btn(this)"  id="change1" class="btn-change"  type="button"> 2 </button>
                      <button onclick="document.getElementById('change_img').src='../static/resources/rickshaw.svg';selected_btn(this)"  id="change1" class="btn-change" type="button"> 3 </button>
                      <button onclick="document.getElementById('change_img').src='../static/resources/car.svg';selected_btn(this)"  id="change1" class="btn-change" type="button"> 4 </button>
                      <button onclick="document.getElementById('change_img').src='../static/resources/jeep.svg';selected_btn(this)"  id="change1" class="btn-change" type="button"> 5 </button>
                      <button onclick="document.getElementById('change_img').src='../static/resources/bus.svg';selected_btn(this)"  id="change1" class="btn-change" type="button"> 6 </button>
                </div>
          </div>
          <div id='payment-btn'>
            <button type="button" id='pay' > Pay Now </button>
          </div>
        </div>
    </form>
      
    </div>
</section>
<script>

    // funntion to get date and touch of the calender
    var divItems = document.getElementsByClassName("day");

    function selected(item) {
    this.clear();
    item.style.backgroundColor = 'black'; //sets the bg colour on click

    let month= item.getElementsByClassName('day-text')[0].textContent;
    let months =['JAN','FEB','MAR','APRIL','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'];
    for(let i=0;i<months.length;i++){
        if(month == months[i]){
            month=i+1;
        }
    }
    let day= item.getElementsByClassName('day-number')[0].textContent;

    // final date
    date='2020'+'-'+month+'-'+day;
    }
    //sets the bg colour of unclicked-elements
    function clear() {
        for(var i=0; i < divItems.length; i++) {
            var item = divItems[i];
            item.style.backgroundColor = 'blue';
        }
    }


    var btnChanges= document.getElementsByClassName('btn-change');
    function selected_btn(item) {
        this.clear_btn();
        item.style.backgroundColor = 'var(--main--violet_100)';
    }

    function clear_btn() {
        for(var i=0; i < btnChanges.length; i++) {
            var item = btnChanges[i];
            item.style.backgroundColor = 'var(--main--violet_200)';
        }
    }

    </script>

    <!-- Bootstrap script -->
    <script src="../static/js/bootstrap.bundle.js"> </script>

{% endblock %}