{% extends "layout.html" %}
{% block title %}
<title>Booking</title>
{% endblock %}
{% block body %}
<section id='booking-section'>
    <h1 id="heading-title">Book a ticket</h1>
    <div id='main-section'>
        <div id="movie-desc">
          <img src={{img}} style="width:300px; height: 400px;" id='img-poster'>
          <div id="movie-desc-inner">
            <h2>{{movie[1]}}</h2>
            <p id='description'>{{movie[6]}} </p>
            <p> <i class="lab la-imdb la-5x" style="color: #DBA506;"> 
              <span style="color: white; font-size: 0.7em;"> {{movie[3]}} /5 </span> </i> 
            </p> 
            <p id='movie-time'> <span style="border-right: solid white 1px;
            padding-right: 5px; margin-right: 5px;"> {{movie[5]}} mins </span>
            {{movie[2]}}</p>

          </div>
        </div>
       
        <div class="hr"> </div>
        <div id="ticket">
            <form action="{{url_for('payment')}}" method='POST'>
                <select name="ticket-type" id='ticket-type' placeholder='Seat type' onchange="changeFunc(value)">
                  <option value="" disabled selected>Seat Type </option>
                  <option value="gold">Gold </option>
                  <option value="silver">Silver</option>
                </select>
         
              <div id='tickets-left'>
                <h4 id='tickets-left-text'>Seats left : <span id='seats'> </span></h4>
              </div>
          
          <div id="people">
            <h2 id='many'> How many?</h2>
              <div id="svg-icons">
                    <img src='static/resources/jeep.svg' style="width: 150px;" id='change_img'> </img>
                    <br>
                    <input type="hidden" name="bookingform" value="yes">
                    <input type="hidden" name="whatdate" value={{ date }} >
                    <input type="hidden" name="animal" value={{movie[0]}}>                  
                    <label for="quantity">Select tickets: </label>
                    <input type="number" id="quantitytic" name="quantity" min="1" >
                </div>
          </div>
          <div id='payment-btn'>
            <button type="submit" id='pay' > Pay Now </button>
          </div>
        </div>
    </form>
    
    </div>
    <div id="recommends" style="text-align: center; font-size: 1.5em;">
    <p><h4 style="font-size: 2em;"> You might also like: </h4>
     {{recommend[0]}}, {{recommend[1]}}, {{recommend[2]}}, {{recommend[3]}}, {{recommend[4]}}
    </p>
    </div>
    <br>
    <br>
</section>

<script>
    //function to get which seat selected
    function changeFunc(value) {
            if(value=='gold'){
                    document.getElementById('seats').innerHTML={{ goldtic }}; //seats left
                    gold={{ goldtic }};
                    document.getElementById('quantitytic').setAttribute('max',gold);
            }
            else{
                    document.getElementById('seats').innerHTML={{ silvertic }}; //seats left
                    silver={{silvertic}}
                    document.getElementById('quantitytic').setAttribute('max',silver);
            }
        }


    </script>
<!-- <script>
    var divItems = document.getElementsByClassName("day");
    var btnChanges= document.getElementsByClassName('btn-change');

    function selected(item) {
        this.clear();
        item.style.backgroundColor = 'yellow';
    }
    
    function clear() {
        for(var i=0; i < divItems.length; i++) {
            var item = divItems[i];
            item.style.backgroundColor = 'var(--main--violet_200)';
        }
    }

    function selected_btn(item) {
        this.clear_btn();
        item.style.backgroundColor = 'var(--main--violet_100)';
    }

    function clear_btn() {
        for(var i=0; i < btnChanges.length; i++) {
            var item = btnChanges[i];
            item.style.backgroundColor = 'var(--main--violet_200)';
        }
    }

    </script> -->

    <!-- Bootstrap script -->
    <script src="../static/js/bootstrap.bundle.js"> </script>

{% endblock %}