{% extends "layout.html" %}
{% block title %}
<title>Filmsy</title>
{% endblock %}
{% block body %}
<section id='image_gallery'>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
           <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
           <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> 
           <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> 
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="bg-overlay"> 
              <img src="static/resources/joker_poster.jpg" class="d-block w-100" alt="..."  >
              <div class="carousel-caption d-none d-md-block" id='joker'>
                <h1 id='joker-title'> JOKER </h1>
                <p id='joker-tagline'> PUT ON A HAPPY FACE </p>
                <button type="button" class="btn btn-outline-danger" id='joker-btn'><a href="https://www.youtube.com/watch?v=zAGVQLHvwOY" class="trailer-link" style="color: red;">Trailer</a></button>
              </div>
            </div>
          </div>
  
          <div class="carousel-item">
            <div class="bg-overlay"> 
              <img src="static/resources/br_poster.jpg" class="d-block w-100" alt="..."  >
              <div class="carousel-caption d-none d-md-block" id='br'>
                <h1 id='br-title'> BOHEMIAN RHAPSODY </h1>
                <p id='br-tagline'> FEARLESS LIVES FOREVER </p>
                <button type="button" class="btn btn-outline-warning" id='br-btn'><a href="https://www.youtube.com/watch?v=mP0VHJYFOAU" class="trailer-link" style=" color :#beb428;">Trailer</a></button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-overlay"> 
              <img src="static/resources/avenger_poster.jpg" class="d-block w-100" alt="..."  >
              <div class="carousel-caption d-none d-md-block" id='avengers'>
                <h1 id='avengers-title'> END GAME</h1>
                <p id='avengers-tagline'> AVENGE THE FALLEN </p>
                <button type="button" class="btn btn-outline-info" id='avengers-btn'><a href="https://www.youtube.com/watch?v=TcMBFSGVi1c" class="trailer-link" style="color :rgb(47, 173, 211);">Trailer</a></button>
              </div>
            </div>
          </div>
        </div>
  </div>
  </section>
   
  <!-- <form action="#"> -->
    
  <form action="{{ url_for('book') }}" method="POST">
    <div class="hr"> </div>
    <div id='date'>
       <div class="day" onclick=selected(this) style="opacity: 20%;"> 
           <p class="day-text">APR</p>
           <h1 class="day-number">7 </h1>
           <p class="day-text"> TUES </p>
        </div>
       <div class="day" onclick=selected(this)  style="opacity:20%"> 
           <p class="day-text">APR</p>
           <h1 class="day-number">8 </h1>
           <p class="day-text"> WED </p>
        </div>
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text">APR</p>
           <h1 class="day-number">9 </h1>
           <p class="day-text"> THURS </p>
        </div>
       <div class="day" onclick=selected(this)> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">10 </h1>
           <p class="day-text"> FRI </p>
        </div>
       <div class="day" onclick=selected(this)> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">11 </h1>
           <p class="day-text"> SAT </p>
        </div>
       <div class="day" onclick=selected(this)> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">12 </h1>
           <p class="day-text"> SUN </p>
        </div>
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">13 </h1>
           <p class="day-text"> MON </p>
        </div>
       <div class="day" onclick=selected(this)  style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">14 </h1>
           <p class="day-text"> TUES </p>
        </div>

       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">15 </h1>
           <p class="day-text"> WED </p>
        </div>
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">16</h1>
           <p class="day-text"> THURS </p>
        </div>
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">17 </h1>
           <p class="day-text"> FRI </p>
        </div>
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text">APR</p>
           <h1 class="day-number">18 </h1>
           <p class="day-text"> SAT </p>
        </div>
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">19 </h1>
           <p class="day-text"> SUN </p>
        </div> 
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">20 </h1>
           <p class="day-text"> MON </p>
        </div> 
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">21 </h1>
           <p class="day-text"> TUE </p>
        </div> 
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">22 </h1>
           <p class="day-text"> WED </p>
        </div> 
       <div class="day" onclick=selected(this) style="opacity:20%"> 
           <p class="day-text" >APR</p>
           <h1 class="day-number">23</h1>
           <p class="day-text"> THU </p>
        </div> 
    </div>
    <div class="hr"> </div>
  
    <br>
    <br>
    <br>
  <!-- Top movies section -->
    <input type="hidden" name="movie" value="selected">
    <input type="hidden" id="datejs" name="date">
  <section id="top_movies">
    <h1> Top Movies </h1>
    <div id="movies_card">
      <div class="row">  
  
        <div class="col-md-4 single_card">
          <div class="card" style="width: 18rem;">
            <button type="submit" name="bt" value=100 style="background-color: black; border: none;">

            <img src="static/resources/endgame_rect.jpg" class="card-img-top" alt="..."></button>
          </div>
        </div>
  
        <div class="col-md-4 single_card">
          <div class="card" style="width: 18rem;">
            <button type="submit" name="bt" value=101 style="background-color: black; border: none;">
            <img src="static/resources/br_rect.jpg" class="card-img-top" alt="..."></button>
          </div>
        </div>
  
  
        <div class="col-md-4 single_card">
          <div class="card" style="width: 18rem;">
            <button type="submit" name="bt" value=102 style="background-color: black; border: none;">
            <img src="static/resources/1917_rect.jpg" class="card-img-top" alt="..."></button>
          </div>
        </div>
      
        <div class="col-md-4 single_card">
          <div class="card" style="width: 18rem;">
            <button type="submit" name="bt" value=103 style="background-color: black; border: none;">
            <img src="static/resources/jojo_rect.jpg" class="card-img-top" alt="..."></button>
          </div>
        </div>
  
        <div class="col-md-4 single_card">
          <div class="card" style="width: 18rem;">
            <button type="submit" name="bt" value=104 style="background-color: black; border: none;">
            <img src="static/resources/joker_rect.jpg" class="card-img-top" alt="..."></button>
          </div>
        </div>
  
        <div class="col-md-4 single_card">
          <div class="card" style="width: 18rem;">
            <button type="submit" name="bt" value=105 style="background-color: black; border: none;">
            <img src="static/resources/fvf_rect.jpg" class="card-img-top" alt="..."></button>
          </div>
        </div>
        
      </div> 
    </div>
  </section>
</form>

<script>
  var divItems = document.getElementsByClassName("day");

function selected(item) {
this.clear();
item.style.backgroundColor = 'var(--main--violet_100)'; //sets the bg colour on click

let month= item.getElementsByClassName('day-text')[0].textContent;
let months =['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'];
for(let i=0;i<months.length;i++){
 if(month == months[i]){
     month=i+1;
 }
}
let day= item.getElementsByClassName('day-number')[0].textContent;
// final date
date='2021'+'-'+month+'-'+day;
console.log(date);
document.getElementById("datejs").setAttribute('value',date);
}
//sets the bg colour of unclicked-elements
function clear() {
 for(var i=0; i < divItems.length; i++) {
     var item = divItems[i];
     item.style.backgroundColor = 'var(--main--violet_200)';
 }
}

var btnChanges= document.getElementsByClassName('btn-change');
 function selected_btn(item) {
     this.clear_btn();
     item.style.backgroundColor = 'var(--main--violet_100)';
 }

 function clear_btn() {
     for(var i=0; i < btnChanges.length; i++) {
         var item = btnChanges[i];
         item.style.backgroundColor = 'var(--main--violet_200)';
     }
 }
</script>   
  
  
  
      <!-- Bootstrap script -->
      <script src="static/js/bootstrap.bundle.js"></script>
  
  {% endblock %}  