{% extends "layout.html" %}
{% block title %}
<title>Profile</title>
{% endblock%}
{% block body %}
<h1>Hello! {{ account['name'] }}</h1>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Email:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Phone no:</td>
            <td>{{ account['phone'] }}</td>
        </tr>
    </table>
    <form action="{{ url_for('logout') }}" method='POST'>
        <button class="btn btn-primary btn-sm">Log out</button>
    </form>
</div>
<p>
    
<h2>Your past purchases are: </h2>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Movie name</th>
            <th scope="col">Genre</th>
            <th scope="col">No. of seats booked</th>
            <th scope="col">Date</th>

        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% if record %}
        {% for i in len(record) %}

        <tr>
                <td>movie[i]</td>
                <td>genre[i]</td>
                <td>record[i][0]</td>
                <td>record[i][4]</td>
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
</p>
{% endblock body%}
